.history/
.cache

# NodeJS projects
node_modules/.cache
node_modules/*
!node_modules/@asu-design-system
node_modules/@asu-design-system/*
!node_modules/@asu-design-system/component-cookie-consent/
node_modules/@asu-design-system/component-cookie-consent/*
!node_modules/@asu-design-system/component-cookie-consent/dist
!node_modules/@asu-design-system/component-header
node_modules/@asu-design-system/component-header/*
!node_modules/@asu-design-system/component-header/dist

# Drupal/external libraries
/vendor/

# PHPStorm (IDE) configurations
.idea/

# Config management script output
/config/_config_changes.diff
/config/**/_diff_commands.bash
*APPLY.patch
.DS_Store*
